.app-nav {
  a {
      color: #fff !important;
  }

  button {
      a {
          color: #000 !important;

          &:hover {
              text-decoration: none;
          }
      }
  }
}